
/* COMPONENT STYLES -------------------- */

.scoreboardContainer {
  margin: 20px auto;
  border: 10px rgb(99, 173, 243) dashed;
  border-radius: 5px;
  width: 700px;
  overflow: hidden;
  box-shadow: 10px 10px 15px rgb(199, 199, 199);
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  border-bottom: 2px solid rgba(210, 218, 221, 0.794);
}

.header {
  text-align: center;
  align-items: center;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
}

input[type=text] {
  margin: 15px 10px 15px 15px;
  padding: 10px;
}

input[type=submit] {
  margin: 15px 15px 15px 0; 
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.player {
  display: flex;
  font-size: 1.2em;
}

.player-name:hover .remove-player {
  visibility: visible;
}

.player-name {
  flex-grow: 0.8;
  line-height: 3.5em;
  padding-left: 10px;
}

.remove-player {
  font-size: 1.15em;
  border: none;
  outline: none;
  visibility: hidden;
  color: #EF5350;
  cursor: pointer;
  margin: 0 10px 0 0;
}

.stats,
.stopwatch {
  width: 170px;
}

.stats {
  margin: 0 0 0 28px;
  font-weight: normal;
}

.stats td:first-child {
  text-align: right;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: .7em;
}

.stats td:last-child {
  text-align: left;
}

.stopwatch {
  padding: 15px 10px 5px 10px;
  margin: -5px -10px -5px 10px;
}

.stopwatch-time {
  display: block;
  font-family: monospace;
  font-size: 2.15em;
}

.stopwatch button {
  margin: 8px 5px;
  border-width: 1px;
  border-radius: 3px;
  padding: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
}

.stopwatch button:hover,
input[type=submit]:hover {
  cursor: pointer;
}

.counter {
  display: flex;
  width: 190px;
}

.counter-action {
  border: none;
  font-size: 1.15em;
  font-weight: bold;
  color: #B0AEBA;
  background-color: #DCDCDC;
  display: block;
  padding: 20px 20px;
  cursor: pointer;
  outline: none;
}

.counter-action:hover {
  color: #fff;
}

.increment:hover {
  background: #05a134;
}

.decrement:hover {
  background: #EF5350;
}

.counter-score {
  flex-grow: 1;
  text-align: center;
  font-family: monospace;
  font-size: 2em;
  line-height: 2em;
}