.margin-top {
    margin-top: 10%;
}

.navbar-footer--wrapper {
    list-style: none;
    display: inline-block;
}

.tile.is-ancestor {
    margin: .75em .75em 0;
}

.listItem {
    padding: 10px 0;
}

.listItem--checkbox {
    margin-right: 15px;

}

.listItem--text {
    margin: 10px;
}

.delete.is-small {
    top: 5px;
}
/* Counter */

.counter-pdg1 {
    padding: 40px;
}

.counter-pdg2 {
    padding: 10px;
}

/*Counter 3*/å

.counter3--init-val {
    margin: 20px;
    text-align: center;
}

.button {
    margin: 0 10px;
}

.counter-btn:hover {
    background-color: #00d1b2;
    color: white;
    border: none;
}

.container-test {
    max-width: 550px;
    margin: 0 auto;
}

/* Counter 4*/

.cntr4 {
    margin: 5px;
}